{% extends "parent.html" %}
{% load static %}

<title> {% block title %} Error {% endblock %}</title>
{% block content %}


        <div class="container">


			<div class="login_sec">
	 			<div class="container">
		 				<ol class="breadcrumb">
		  					<li><a href="index.html">Home</a></li>
		  					<li class="active">Error Page</li>
		 				</ol>
<h3>Sorry, some error occured. Try again later</h3>
		 <div class="col-md-6 log">
				<h3>You have reached an error page, plz try later some time.</h3>
			 </div>
				</div>
		 		</div>
			</div>
				<div class="clearfix"></div>
	 </div>
</div>



{% endblock %}
